@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}