/* Philippine Goals Section */
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#philippine-goals {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}

.philippine-goals-container {
    position: relative;
    height: 380px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.philippine-goals-video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
}
.philippine-goals-back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    text-decoration: none;
    z-index: 10;
}
.philippine-goals-back-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.philippine-goals-back-button::before {
    content: '←';
    font-size: 28px;
    color: #333;
}

.philippine-goals-header {
    position: relative; 
    text-align: center;
    width: 150%;
    height: 40%;
    max-width: 1000px;
    padding: 70px;
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 8px;
}
.philippine-goals-header h2 {
    color: #333; 
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0 25px 0;
}
.philippine-goals-header p {
    color: #666;
    font-size: 27px;
    margin: 0;
}

.goals-container {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.goals-card {
    width: 30%;
    height: 570px; 
    margin: 20px;
    background-color: #f8f8f8; 
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.goals-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.goals-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.goals-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.goals-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 0;
    text-align: center;
}

.goals-content .goals-title {
    color: #1A54BA;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
