@import url("style.css");

.header-banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: white;
    z-index: 1000;
}

.header-nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1001;
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.header-nav ul li {
    margin: 10px 20px 10px 0px;
    position: relative;
}

.header-nav ul li a {
    display: block;
    position: relative;
}

.header-nav ul li a img {
    width: auto;
    height: 50px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    object-fit: contain;
}

.header-nav ul li a.active img {
    opacity: 1;
}

.header-nav ul li a:hover img {
    opacity: 1;
}

.header-nav ul li a::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.header-nav ul li a:hover::after {
    opacity: 0.8;
}

.header-background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-content {
    text-align: center;
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;
}

.header-mainText {
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 5px;
}

.header-subText {
    font-size: 50px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.header-description {
    font-size: 30px;
    line-height: 1.5;
}

.header-buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.header-buttons {
    display: inline-block;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 25px 0px 0px 20px;
}

.header-buttons:hover {
    background-color: rgba(0, 255, 255, 0.3);
    transform: translateY(-2px);
}

/* Problems Section */
.problems-container {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 90%;
    height: 450px;
    margin: 30px auto;
    padding: 40px;
}

.problems-container-inverted {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 90%;
    height: 450px;
    margin: 40px auto;
    padding: 40px;
}

.problems-header h2 {
    font-size: 50px;
    width: 100%;
    text-align: center;
    line-height: 0.1em;
    margin: 100px 0 70px;
    color: #1545a0;
}

.problems-header span {
    padding: 0 3.3vw;
}

.problems-header h2::before,
.problems-header h2::after {
    content: "";
    display: inline-block;
    width: 33%;
    border-bottom: 4px solid #1545a0;
    vertical-align: middle;
}

.problems-container img,
.problems-container-inverted img {
    object-fit: cover;
    width: 100%;
    height: 450px;
    border-radius: 60px;
    vertical-align: middle;
    margin-top: 10px;
}

.problems-captions h2 {
    text-align: center;
    font-size: 45px;
    padding: 10px 30px;
    margin-top: 50px;
}

.problems-captions .line {
    margin-top: 10px;
}

.problems-captions p {
    font-size: 32px;
    padding: 30px 30px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

/* Philippine Goals Section */
#philippine-goals {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.philippine-goals-header {
    background-image: url(../res/images/water-goal-header.jpeg);
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px 32px 0px;
}

.philippine-goals-header h2 {
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.goals-container {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.goals-card {
    width: 30%;
    height: 570px;
    margin: 20px;
    background-color: #f8f8f8;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.goals-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.goals-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.goals-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.goals-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

.goals-content .goals-title {
    color: #1A54BA;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.goals-see-more {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goals-see-more .button {
    padding: 12px 30px;
    background: #1A54BA;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(26, 84, 186, 0.3);
    text-decoration: none;
}

.goals-see-more .button:hover {
    background: #6098ff;
}

/* Government Projects Section */
.projects-container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    height: 50vh;
    overflow: hidden;
}

.projects-header h2 {
    color: #1545a0;
    text-align: center;
    font-size: 45px;
    margin-top: 70px;
}

.line {
    height: 4px;
    width: 200px;
    color: gray;
    background-color: #1545a0;
    margin: 20px auto;
    margin-bottom: 50px;
}

.projects-captions {
    position: absolute;
    top: 10px;
    left: 20px;
    color: white;
    text-align: left;
    padding: 30px;
}

.projects-captions h1 {
    font-size: 60px;
    margin-top: 10px;
    margin-left: 10px;
}

.projects-captions p {
    padding-left: 50px;
    font-size: 30px;
    margin-top: 20px;
}

.projects-container img {
    object-fit: cover;
    filter: brightness(70%);
    width: 100%;
    height: 100%;
    object-position: center;
    margin: 0;
}

.projects-container .button {
    color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    background-color: transparent;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 90px;
    margin-left: 50px;
    margin-top: 20px;
    text-decoration: none;
}

.projects-container .button:hover {
    background-color: #1545a0;
    border: 2px solid #1545a0;
}

.scroll-wrapper {
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 999;
}

.scroll-container {
    position: absolute;
    right: 10px;
    border-radius: 50%;
    background-color: #1545a0;
    padding: 5px;
    height: 55px;
    width: 55px;
    transition: 150ms;
    opacity: .8;
}

.scroll-container:hover {
    opacity: .5;
}

.scroll-container img,
.scroll-container a {
    height: auto;
    width: 100%;
}

/* Innovations Section */
#innovations {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innovations-title {
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.innovations-title h2 {
    font-size: 3.5vw;
    width: 100%;
    text-align: center;
    line-height: 0.1em;
    margin: 100px 0 70px;
    color: #1545a0;
}

.innovations-title span {
    padding: 0 2.7vw;
}

.innovations-title h2::before,
.innovations-title h2::after {
    content: "";
    display: inline-block;
    width: 33%;
    border-bottom: 4px solid #1545a0;
    vertical-align: middle;
}


.innovations-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    justify-items: center;
    padding: 0 20px;
}

.book-flip {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    perspective: 1000px;
    overflow: hidden;
}

.book-content {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 10px 50px;
    box-sizing: border-box;
}

.book-flip p {
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    text-align: left;
    overflow: hidden;
    height: 100%;
    width: 80%;
}

.cover-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    transform-origin: left;
    box-shadow: 1px 1px 12px #272727;
}

.book-flip:hover .cover-page {
    transform: rotateY(-80deg);
}

.book-flip:nth-child(1) .cover-page {
    background-image: url(../res/images/water-innovasea-image.png);
    background-size: cover;
    background-position: center;
}

.book-flip:nth-child(2) .cover-page {
    background-image: url(../res/images/water-upstreamtech-image.png);
    background-size: cover;
    background-position: center;
}

.book-flip:nth-child(3) .cover-page {
    background-image: url(../res/images/water-shellcatch-image.png);
    background-size: cover;
    background-position: center;
}

.book-flip:nth-child(4) .cover-page {
    background-image: url(../res/images/water-ashored-image.png);
    background-size: cover;
    background-position: center;
}

.book-flip:nth-child(5) .cover-page {
    background-image: url(../res/images/water-xpertsea-image.png);
    background-size: cover;
    background-position: center;
}

.book-flip:nth-child(6) .cover-page {
    background-image: url(../res/images/water-knipbi-image.png);
    background-size: cover;
    background-position: center;
}

.book-flip:nth-child(7) .cover-page {
    background-image: url(../res/images/water-monitorfish-image.png);
    background-size: cover;
    background-position: center;
}

.book-flip:nth-child(8) .cover-page {
    background-image: url(../res/images/water-seakura-image.png);
    background-size: cover;
    background-position: center;
}

/* Footer */
.footer-container {
    background-image: url(../res/images/water-footer.png);
    color: white;
    padding: 40px 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: 0 -4px 8px rgba(250, 10, 10, 0.1);
    height: auto;
    width: auto;
}

.footer-logo-container {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    width: 200px;
    height: auto;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 20%;
    text-align: left;
    font-size: 20px;
}

.footer-contact p {
    margin: 8px 0;
    color: #fffbfb;
}

.footer-contact p strong {
    display: block;
    margin-bottom: 2px;
}

.footer-slogan-container {
    flex-basis: 40%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    border: 1px solid #ffffff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.footer-slogan {
    font-size: 30px;
    color: #ffffff;
}

.footer-buttons {
    display: flex;
    flex-direction: column;
}

.footer-buttons a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 25px;
    border: 2px solid #ffffff;
    transition: background 0.3s ease;
}

.footer-buttons a:hover {
    background-color: #1A54BA;
    border: 2px solid #ffffff;
}

.footer-copyright {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    color: #fffbfb;
}

.mobile-view {
    display: none;
}

@media screen and (max-width: 1220px) {

    @font-face {
        font-family: 'Poppins';
        src: url(../res/fonts/Poppins-Regular.ttf);
    }

    * {
        font-family: 'Poppins', sans-serif;
    }

    .header-content {
        top: 20%;
    }

    .problems-header span {
        padding: 0;
    }

    .problems-header h2::before,
    .problems-header h2::after {
        display: none;
    }

    .problems-container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .problems-container-inverted {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .projects-container {
        height: auto;
    }

    .projects-captions {
        top: 10%;
    }

    .innovations-title h2::before,
    .innovations-title h2::after {
        display: none;
    }

    .innovations-title span {
        padding: 0;
        width: 100%;
    }

    .footer-logo-container {
        flex-basis: 20%;
    }

    .footer-logo {
        width: 100%;
    }

    .footer-slogan-container {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 1023px) {
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    body {
        background-color: rgb(0, 225, 255, .05);
        margin: 0;
        padding: 0;
    }

    .header-content {
        top: 15%;
    }

    .header-mainText {
        font-size: 80px;
    }

    .header-subText {
        font-size: 20px;
    }

    .header-description {
        font-size: 15px;
    }

    .header-button {
        display: grid;
        grid-template-columns: auto auto;
    }

    .problems-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 40px;
        height: auto;
    }

    .problems-container-inverted {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding: 0 40px;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .problems-container img,
    .problems-container-inverted img {
        object-fit: cover;
        width: 80vw;
        height: 40vh;
        border-radius: 60px;
        margin: auto;
    }

    .problems-captions h2 {
        text-align: center;
        font-size: 35px;
        margin-top: 20px;
    }

    .problems-captions .line {
        margin: 5px auto;
    }

    .problems-captions p {
        font-size: 16px;
        text-align: center;
    }

    .philippine-goals-header {
        background-image: url("../res/images/Mobile-Phil-goalsHeader.jpg");
    }

    .philippine-goals-header h2 {
        font-size: 60px;
        text-align: center;
    }

    .goals-container {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
    }

    .goals-card {
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
    }

    .goals-content p {
        font-size: 18px;
    }

    .goals-content title {
        color: #186423;
        font-size: 20px;
    }

    .goals-see-more {
        text-align: center;
        width: 100%;
    }

    .projects-container {
        margin: 0;
        height: 50vh;
    }

    .projects-captions h1 {
        text-shadow: 5px 3px rgba(0, 0, 0, 0.3);
        margin-left: 0;
        font-size: 30px;
    }

    .projects-captions p {
        text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
        font-size: 18px;
        padding-left: 0;
        margin-top: 20px;
    }

    .projects-container img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: top;
        margin: 0;
    }

    .projects-container button {
        font-size: 15px;
        margin: 20px 0px 0px 0px;
    }

    .innovations-title {
        height: 180px;
    }

    .innovations-title h2 {
        font-size: 50px;
    }

    .book-flip:nth-child(1) .cover-page {
        background-image: url("../res/images/cartoon-water-innovasea-image.png");
    }

    .book-flip:nth-child(2) .cover-page {
        background-image: url("../res/images/cartoon-water-upstreamtech-image.png");
    }

    .book-flip:nth-child(3) .cover-page {
        background-image: url("../res/images/cartoon-water-shellcatch-image.png");
    }

    .book-flip:nth-child(4) .cover-page {
        background-image: url("../res/images/cartoon-water-ashored-image.png");
    }

    .book-flip:nth-child(5) .cover-page {
        background-image: url("../res/images/cartoon-water-xpertsea-image.png");
    }

    .book-flip:nth-child(6) .cover-page {
        background-image: url("../res/images/cartoon-water-knipbi-image.png");
    }

    .book-flip:nth-child(7) .cover-page {
        background-image: url("../res/images/cartoon-water-monitorfish-image.png");
    }

    .book-flip:nth-child(8) .cover-page {
        background-image: url("../res/images/cartoon-water-seakura-image.png");
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 15px 15px;
        gap: 10px;
        margin-top: 30px;
    }

    .footer-logo {
        width: 70%;
        height: auto;
    }

    .footer-contact {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 20px;
        grid-column: span 1;
    }

    .footer-slogan {
        font-size: 24px;
    }

    .footer-slogan-container {
        gap: 10px;
        grid-column: span 1;
    }

    .footer-buttons a:hover {
        background-color: #a7e6ff;
        border: 2px solid #ffffff;
    }

    .footer-copyright {
        grid-column: span 3;
    }
}

@media screen and (max-width: 480px) {

    .problems-container {
        padding: 0;
    }

    .problems-container-inverted {
        padding: 0;
    }

    .goals-card {
        width: 90%;
        margin: 5%;
    }

    .projects-container {
        height: 100vh;
    }

    .projects-captions h1 {
        padding-top: 10vh;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
    }

    .footer-slogan-container {
        grid-column: span 2;
    }

    .footer-copyright {
        grid-column: span 2;
    }
}